<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>{% if page.title %}{{page.title | strip_html}}{% else %}{{site.title | strip_html}}{% endif %}</title>
    <meta name="description" content="{{site.description | strip_html }}">
    <meta name="author" content="{{site.author | strip_html}}">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    <meta name="url" content="{{site.url | append: site.baseurl}}">
    <base href="{{site.url | append: site.baseurl | append: page.url}}">
    <link rel="stylesheet" href="/assets/styles.css">
</head>